---
import "../styles/theme.css";
import StickyPlayer from "../components/StickyPlayer.astro";
const {
  title = "Bitflip.show",
  hideNav = false,
  hidePlayer = false,
} = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      referrerpolicy="no-referrer"
    />
    <script
      defer
      data-domain="bitflip.show"
      src="https://plausible.ktz.cloud/js/script.js"
    ></script>
  </head>
  <body>
    <header class="site-header container">
      <div>
        <div class="site-title">
          <a href="/">Bitflip.show</a>
        </div>
        <div class="site-tagline">The pragmatic side of infrastructure.</div>
      </div>
      {!hideNav && (
        <nav class="nav-links">
          <a href="/">Episodes</a>
          <a href="/hosts">Hosts</a>
          <a href="/contact">Contact</a>
        </nav>
      )}
    </header>
    <main class="container">
      <slot />
    </main>
    {!hidePlayer && <StickyPlayer />}
  </body>
</html>
